.route_marker-box {
    display: flex;
    align-items: center;
    margin: 20px auto;
    justify-content: center;
    width: 80%;

}

.route_marker {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
}

.route_marker.point_end {
    background-color: black;
}

.route_marker::after {
    content: '';
    width: 8px;
    height: 8px;
    background-color: #fff;
    position: absolute;
    color: black;
    border-radius: 50%;
    right: 30%;
    top: 30%;
}

.route-name {
    width: 80%;
    margin: 20px auto;
}

.route-btn_wrapper {
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

.exp-pdf_block {
    margin: 20px auto;
    width: 80%;
}