<div class="left-panel__container" (click)="refresh()">
  <div class="left-panel__box d-flex justify-content-center">
    <div class="select-city__box">
    <select
    [ngClass]="{
      error: mapService.citySelectInvalid
    }"
    class="form-control"
      (change)="mapService.citySelect($event)">

      <option class="error" disabled>Выбирите город</option>

      <option [value]="city.id" *ngFor="let city of mapService.cityList">{{city.name}}</option>

    </select>
    <span
    [ngStyle]="{'display': mapService.citySelectInvalid ? 'inline-block' : 'none'}"
    class="error-label">Выберите территорию</span>
  </div>

  <div class="tools_box">
  <div class="tool_wrapper">
  <button

  type="button"
  (click)="drawPoint()"
  class="btn add-marker">
  <img src="/assets/create_marker.png" alt="" srcset="">
</button>
<span >Добавить   точку</span>
</div>
  <div class="load-file "

  >
    <input #input_file style="display: none;" (change)="mapService.handleFileChange($event)"  type="file"/>
    <div class="tool_wrapper">
    <button type="button" class="btn add-marker" (click)="mapService.uploadFile(input_file)">
      <img src="/assets/upload_file.png" alt="" srcset="">
    </button>
    <span>Загрузить файл</span>
  </div>
</div>
<div class="tool_wrapper">
  <button

  type="button"
  (click)="createRoute()"
  class="btn  add-marker">
  <img src="/assets/routing_map.png" alt="" srcset="">
</button>
<span>Построить маршрут</span>
</div>
</div>
</div>
<div
*ngIf="mapService.loadingKml"
class="spinner">
  <app-spinner></app-spinner>
</div>
<div [ngSwitch]="componentName">
  <ng-template ngSwitchCase="addCoordinate">
  <div class="form-container "
[hidden]="!mapService.coordinateShow"

>
<form
#formContainer
>
  <div class="form-group">
    <label for="exampleInputEmail1">Долгота</label>
    <input type="text"
     class="form-control"
        disabled
       aria-describedby="emailHelp"
       placeholder=""
        [value]="mapService.currentCoordinates.lng"

       >

  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Широта</label>
    <input type="text" class="form-control"  placeholder=""
    [value]="mapService.currentCoordinates.lat"

    disabled
    >
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Название</label>
    <input type="text" class="form-control"  placeholder=""
    [value]="mapService.currentCoordinates.name"
    (change)="setDescription($event)"

    >
  </div>
<div 
class="d-flex justify-content-center flex-column"
*ngIf="!mapService.isNew">
<div  #imgdesc

class="image-box" >
  <img
  *ngFor="let item of mapService.markerImages"
  [src]="item" alt="">

</div>
<div class="point-description"
*ngIf="mapService.currentCoordinates.description">
<div
class="d-flex justify-content-center add-img"
*ngFor="let point of mapService.currentCoordinates.description">
  {{point.description}}
</div>
</div>
<input
#input_image
(change)="mapService.addImageHandle($event)"
type="file" style="display: none;"/>
<button
(click)="mapService.addImage(input_image)"
class="add-image btn btn-success">Добавить картинку</button>
</div>
<div

class="d-flex justify-content-center">
  <button
  [disabled]="mapService.buttonDisable"
  *ngIf="mapService.isNew" class="btn btn-primary"
  (click)="mapService.saveLayer()"
  >Сохранить</button>
  <!-- <ng-template #notNew>
    <button  class="btn btn-primary"
    (click)="deleteLayer()"
    >Удалить</button>
  </ng-template> -->
</div>
</form>

</div>
</ng-template>
<ng-template ngSwitchCase="createRoute">
    <app-create-route></app-create-route>
</ng-template>
</div>

</div>
