<div class="left-panel__container">
  <div class="left-panel__box d-flex justify-content-center">
    <div class="select-city__box">
    <select
      (change)="mapService.citySelect($event)"
    class="form-control">
      <option disabled selected>Выберети город</option>
      <option [value]="city.id" *ngFor="let city of mapService.cityList">{{city.name}}</option>

    </select>
  </div>
  <button
  *ngIf="!mapService.coordinateShow"
  type="button"
  (click)="drawPoint()"
  class="btn btn-success">Добавить точку</button>
</div>
<div class="form-container "
[hidden]="!mapService.coordinateShow"
#formContainer
>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Долгота</label>
    <input type="text"
     class="form-control"

       aria-describedby="emailHelp"
       placeholder=""
        [value]="mapService.currentCoordinates.lng"
        #lngInput
       >

  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Широта</label>
    <input type="text" class="form-control"  placeholder=""
    [value]="mapService.currentCoordinates.lat"
    #latInput
    disabled
    >
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Происшествие</label>
    <input type="text" class="form-control"  placeholder=""
    [value]="mapService.currentCoordinates.description"
    (change)="setDescription($event)"
    #deskInput
    >
  </div>
<div

class="d-flex justify-content-center">
  <button *ngIf="mapService.isNew; else notNew" class="btn btn-primary"
  (click)="mapService.saveLayer()"
  >Сохранить</button>
  <ng-template #notNew>
    <button  class="btn btn-primary"
    (click)="deleteLayer()"
    >Удалить</button>
  </ng-template>
</div>
</form>
</div>
</div>
