.app_container {
  display: flex;
}

#map {
  height: 92.6vh;
  width: 75%;
}

#map.leaflet-container {
  cursor: default;
}

#details-panel {
  text-align: left;
}

.leaflet-bottom, .leaflet-left {
  pointer-events: auto;
}
